
*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(bgphotos/harassment.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar{
    width: auto;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 110px;
    cursor: pointer;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #00FFF3;
    display: block;
    margin: auto;
    transition: .5s;
}
nav ul li:hover::after{
    width: 100%;
}
.tbox{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.tbox h1{
    font-size: 62px;
}
.tbox span{
    color:#89fff9;   
}
.tbox p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: white;
}
.sbtn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 6px;
    padding: 12px 14px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}
.sbtn:hover{
    display: inline-block;
    background: linear-gradient(45deg, #6cd5ff, #9a5bff);
    border-radius: 6px;
    padding: 12px 14px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.2);
    cursor: pointer;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
